<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Movie not found!</h1>
        <div class="row justify-content-center">
            <p>Please, review what you are looking for. We are sure you'll find what you need :)</p>
        </div>
    </div>
</div>
