/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: right;
  word-break: break-all;
  color: gold;
}



/* Sticky
    styles
-------------------------------------------------- */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
    bottom: 0;
    background-image: url(../uploads/footer.jpg);
    background-repeat: inherit;
    position: absolute;
    max-width: none;
    white-space: nowrap;
    min-width: 100%;
    /* Set the fixed height of the footer here */
    max-height: 260px;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}

    .footer img {
        display: block;
    }