@model MovieRentalViewModel
@using Movies.Domain.Models
@using Movies.Web.ViewModels
@using Movies.Shared.Interfaces
@inject IRepository _repository
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = (int)ViewData["movieID"];
    var movie = _repository.GetById<Movie>(id);
   

}

<div class="row justify-content-center">
    <h2>Confirm that you are willing to rent this movie:</h2>
</div>
<div class="row justify-content-center">
    <h3>"@movie.Title"</h3>
</div>
<div class="row justify-content-center">
    <h3>Price: @movie.Price$ (Available for 5 days)</h3>
</div>
<div class="row justify-content-center">
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Confirm
        </button>
    </p>
</div>

<div>
    @await Component.InvokeAsync("RentMovie", new { movieID = id })
</div>
